.footer {
    background-color: #6a57a9;
    height: 100px;
    width: 100%;
    position: relative;
}

.innerFooter {
    background-color: #52359e;
    color: white;
    position: absolute; left: 0; bottom: 0; right: 0;
}

.footer-p {
    padding-left: 25px;
}