.header {
  background-color: #381501;
  position: relative;
  width: 100%;
}

.scores {
  text-align: right;
  padding-right: 2em;
}

.rules {
  text-align: center;
  width: 100%;
  padding-left: 4em;
  padding-right: 4em;
}


